.navbar{
    background-color: #212F3C ;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
    height: 100px;
    margin-bottom: 0;
}
body {
    margin: 0;
    background-color: #F5B041;
    padding: 0;
}

li { 
    list-style-type: none;
    float: right;
    padding: 1%;
    font-size: 30px;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2em;
}

.p3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
}

.subject {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p.message {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #212F3C; 
	color: #DC7633; 
	font-size: 1.2em; 
	border: 4px outset black;
	position: relative; 
	margin-bottom: -1em; 
	width: 8.5em; 
	margin-left: 2em; 
	margin-top: 1em;
}

fieldset{
    background: white; 
    border: none; 
    margin-bottom: 1em; 
    width: 24em; 
    padding-top: 1.5em;
    margin-left: 1em;
}

#message {
    background: whitesmoke; 
	border: outset #212F3C
}

li a {
    display: block;
    color: #DC7633;
    text-align: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a:hover {
    color: #F5B041 ;
    background-color: transparent;
}

body, html {
    height: 90%;
}

.subject {
    font-size: 10px;
}

.footer{
    background-color: #212F3C;
    height: 200px;
    display: flex;
}

.link{
    text-align: center;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

h3{
    color: #F5B041 ;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #212F3C;
    color: white;
}